{
    "printWidth": 120,
    "tabWidth": 4,
    "trailingComma": "all",
    "semi": false,
    "singleQuote": true,
    "vueIndentScriptAndStyle": true,
    "overrides": [
        {
            "files": "*.md",
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
